asttokens==2.4.1
cairocffi==1.7.1
cffi==1.17.0
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
executing==2.0.1
fonttools==4.53.1
-e git+https://github.com/lucaslopes/hedonic.git@67a560bca13004d52ade15473911245d2d6f70b4#egg=hedonic
igraph==0.11.6
imageio==2.35.1
ipython==8.26.0
jedi==0.19.1
kiwisolver==1.4.5
lazy_loader==0.4
leidenalg==0.10.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
networkx==3.3
numpy==2.1.0
opencv-python==4.10.0.84
packaging==24.1
pandas==2.2.2
parso==0.8.4
pillow==10.4.0
plotly==5.23.0
prompt_toolkit==3.0.47
pure_eval==0.2.3
pycparser==2.22
Pygments==2.18.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-image==0.24.0
scipy==1.14.1
six==1.16.0
stack-data==0.6.3
stopwatch.py==2.0.1
tenacity==9.0.0
texttable==1.7.0
tifffile==2024.8.24
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.1
wcwidth==0.2.13